/**
 * Editor styles
 */

.one-icon-for-wp-single-icon-block {
	pointer-events:   none;
}

.one-icon-for-wp-single-icon-block svg,
.one-icon-for-wp-single-icon-block svg path {
	fill: currentColor;
}


.one-icon-for-wp-single-icon-block svg {
	max-width:  50px;
	max-height: 50px;
}
